<!-- <div class="form-area">
    <h1> Jean my Mentor Post</h1>
    <br><br>
    <input type="text" placeholder="BRS" [(ngMode)] ="postTitle">
    <br><br>
    <textarea cols="30" rows="10" placeholder="Post Details" [(ngMode)] ="postDetails"></textarea>
    <br><br>
    <input type="text" placeholder="Post image URL" [(ngMode)] ="imageURL">
    <br><br>
    <input type="text" placeholder="Post URL" [(ngMode)] ="postURL">
    <br><br>
    <input type="checkbox" [(ngMode)] ="addBackground"> Add Background
    <br><br>
</div>
<div preview-area>
 <img [src]="imageURL" alt="">
 <h1 [class.add-background]="addBackground">{{postDetails}}</h1>
 <p>{{postDetails}}</p>
 <a [href]="postURL"  target=" _blank" [style.display]="postURL ? 'block': 'none' ? " >more Details</a>
</div> -->