
<!-- <h1  [class.text-red] = "bool"> Angular App</h1>


<p> {{message}}</p>
<app-navbar></app-navbar>
<app-post [fromParent]='parentMessage' (messageEvent)='receivemessage($event)'></app-post>

<p>{{messages}}</p>
<img src="{{imgUrl}}" alt="">
<img [src]="imgUrl" alt =""> //property binding gives a clean code 
<h1 [style.color] = "bool? 'green' : 'gray' "> Style Binding </h1>


<button (click)="buttonClicks()">Click Here</button>

<input type = "text" (keyup) = "onKeyup(username.value)"  #username >
<input type=" text" [(ngModel)] ="userName"  >

<input type="text" [value]='textValue'>

<input type="text" [(ngModel)] = 'textValue' >
<p>{{postArray}}</p> -->
<!-- <ul>
    <li>{{postArray[0]}}</li>
    <li>{{postArray[1]}}</li>
    <li>{{postArray[2]}}</li>
    <li>{{postArray[3]}}</li>
    <li>{{postArray[4]}}</li>
</ul> -->
<!-- <ul>
    <li *ngFor="let post of postArray">{{</li>
</ul> -->


<h1> HelloWord Jean Assignement</h1>
First Number:

<br>
<input type=" text" [(ngModel)]="firstNumber">
<br>

second Number:
<br>
<input type = "text" [(ngModel)]="secondNumber">
<br>
Your sum is: <br>{{result}}<br>
<br>
<button (click)="AddNumber()"> Add Number</button>

<button (click)="apiCall()"> Render API</button>